* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
  font-family: 'Roboto Slab', serif;
}
/*navbar section*/
#navibar {
  background-color: transparent;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: 1s;
  z-index: 1000;
}
#navibar.sticky {
  padding: 1px 50px;
  background: #d9dcdf;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 1.75rem;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.nav-item{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.navbar-nav {
  text-align: right;
}
.nav-link{
  text-decoration: none;
  color: white;
  padding: 0;
}
.active {
  background-color: yellow;
  color: red;
}


/*home section*/
#home {
  background-image: url(../images/electronics.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  z-index: 10;
}
h1, p {
  color: white;
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
p {
  margin-top: -4px;
  font-size: 1.2rem !important;
}
.margintop {
  margin-top: 60px;
}
#profile-picture {
  padding: 20px;
}
.img-fluid {
  max-width: 75%;
}

/*portfolio section*/
#portfolio {
  background-color: #efefef;
}

/*contact section*/
#contact {
  background-color: #e9e9ef;
  overflow: hidden;
}
#map {
  width: 100%;
  height: 100%;
}
#inner-contact {
  background-color: #d9dcdf;
  padding: 20px;
  border-radius: 3%;
}
footer {
  background-color: #e9ecef;
}
.form-group {
  width: 80%;
}
.btn-primary {
  display: block;
}
#comment {
  width: 80%;
}

/*Large devices (desktops, less than 1200px)*/
@media screen and (max-width: 991px) {
  #navibar.sticky {
  padding: 1px 1rem;
  background: #d9dcdf;
}
}
@media screen and (max-width: 500px) {
  #home {
    background-image: url(../images/electronics500pxscreen3.jpg);
  }
}
@media screen and (max-width: 358px) {
  #home {
    background-image: url(../images/electronics365pxscreen.jpg);
  }
  h1 {
    font-size: 3rem !important;
    margin-top: -1rem;
  }
  #profile-picture {
    padding: 30px;
    margin-top: -0.5rem;
  }
}
@media screen and (max-width: 320px) {
  #home {
    background-image: url(../images/electronics320pxscreen2.jpg);
  }
  p {
  margin-bottom: 0px !important;
  margin-top: 0px;
  font-size: 0.7rem !important;
  }
  h1 {
    margin-top: -1.8rem;
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 280px) {
  #home {
    background-image: url(../images/electronics280pxscreen2.jpg);
  }
}
